@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">RecipeApp</h1>
    <p>Check out my recipe database!</p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Recipes" asp-action="">--> List of recipes <--</a>
</div>
